/*creamos el marshal mapas*/
/*1-tienen una key y tambien un valor*/
/*2- es como la lista o grupo de propiedades, que no
necesariamente tiene que ser de la misma familia, por ejemplo: la 
lista de colores que hicimos anterior*/

@import'./listas';

$standard: (
    color-standar:nth($colores, 4),
    bg-standar: nth($colores, 1),
    mx-auto: 0 auto,
    flexbox-standard: flex
);

/*entonces podes poner un grupo de propiedades, 
este grupo lo llamo cuando lo necesito, o la propiedad
de ese grupo que necesito*/


$premium: (
    color-standar:nth($colores, 3),
    bg-standar: nth($colores, 7),
    mx-auto: 0 auto,
    flexbox-standard: grid
);



/*entonces aca cree dos grupos de propiedades donde vamos a llamar a alguna de 
estas propiedades*/

.standard {
    background-color: map-get($standard, bg-standard);
}
/*aca pongo el mapa que necesito que seria $standard y la key seria bg-standard
naturalmente se usan para tener paquetes, donde fijamos propiedades que pueden 
llegar a tener un rango para uno, o un estilo en particular */




