/*son muy parecidos a los extends, con la regla mixins, ponemos el nombre, llaves, 
las propiedades, y despues en las clases solos ponemos @include y el nombre del mixin, 
automaticamente se copian todas las propiedades, y si tengo otra clase con los mismos
estilos de estas propiedfades, tengo que haxaer exactamente los mismos, y automaticamente
 adquiere las mismas propirdades, solo escribo un alinea y en el codigo de css se transcriben 3 */


@mixin miren {
    border: 1px solid transparent;
    border-bottom: 6px;
    padding: 10px;
}

.mirando {
    @include miren;
}

.miranda {
    @include miren;
}

/*la diferencia primero es que no los agrupo, en realidad los mixin, son diferentes
se van a utilizar de manera diferente*/

/*mixin incluyen un $parametro ($variable) vacio al cual 
le voy a dar un valor en un futuro cercano, o sea, cuando lo utilice */

@mixin mirend ($vacia) {
    transform: $vacia;
}

.animaciones {
    @include mirend(50%)
}

/*constructores -armamos una estructura que vamos a reutilizar 
 en varios elementos, pero sin saber necesariamente el valor de 
 de cada propiedad*/

 @mixin magic($ancho){
    width: $ancho;
 }

 .animacion-one {
    @include magic(100%);
 }

 .animacion-two {
    @include magic(50%);
 }


 /*cuando teniamos los prefijos para haxcer las animaciones y no
  escribir mucho codigo, usamos los mixins*/
@mixin prefijos($propiedad){
    -o-transform: $propiedad;
    -moz-transform: $propiedad;
    transform: $propiedad;

}

/*ahora cuando tenemos las clases inmcluimos solamente los prefijos 
con el valor y no tenemos que escribir nada mas  */

.transform.one {
    @include prefijos(translate(50%))
}

.transform.two{
    @include prefijos(scale(4))
}

.transform.three {
    @include prefijos(rotate(90del))

}

/*tambien se pueden usar vasrios parametros vacios a la vez,
 una vez que los llamemos a estos parametros con el include
 nos va aparecer 3 comas donde tendremos que poner los tres valores */


@mixin varios($ancho, $display, $center) {
    width: $ancho;
    display: $display;
    justify-content: $center;
    align-items: center;
    /* si le agregamos uno extra simprew va a ser center*/
}

.miedo {
    @include varios(50%,grid , flex-end)
}

.agustina {
    @include varios(100%, flex, center ) 
}